:root {
    --accent: #8c63cb;
    --panel: hsl(210, 15%, 83%);
}

body {
    padding: 2vw;
    background-color: hsl(210, 18%, 88%);
    min-height: 100vh;
}

a {
    color: var(--accent);
}

button {
    border: 0;
    border-bottom: 2px solid var(--accent);
    background-color: unset;
}

.hide {
    display: none !important;
}

.jumbotron {
    background-color: var(--panel);
    border: 1px solid var(--accent);
}