@import "/style.css";

.editing {
    border: 0.3em dashed var(--accent);
    /* box-sizing: content-box; */
}

.card-columns {
    column-count: 3;
}

.card {
    background-color: var(--panel);
}

.card-body {
    padding: 1rem;
}

:not(.captioned)>.card-body,
.card-title:empty,
.card-text:empty {
    display: none;
}

.card-images {
    max-height: 120vh;
    overflow: hidden;
}

.card-images.multi {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-images.multi>img:not(.active) {
    display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: auto;
    width: 10%;
    cursor: pointer;
}

#info {
    margin-bottom: 1em;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    overflow-x: hidden;
}

#lbImg {
    margin: auto;
    max-width: 100vw;
}

#gallery img {
    cursor: pointer;
}

#top {
    display: grid;
    grid-template-columns: [left] 1fr [header] 50% [right] 1fr;
    column-gap: 1em;
}

#right {
    grid-area: right;
    place-self: center end;
}

#header {
    grid-area: header;
    place-self: center;
}

#error-msg {
    /* white-space: pre-wrap; */
    background-color: color-mix(in srgb, transparent, var(--accent) 50%);
    line-height: 1em;
}